  <h1>Order Management</h1>
  <p>
  	This service offers access to orders contained in the system.
  	You can access them via the following links:
  </p>
  <ul id="ordermanagement" class="collections">
  	<li>
  		  <a id="all" href="/orders/">All</a>
  		| <a id="received" href="/orders?state=received/">Received</a> 
  		| <a id="accepted" href="/orders?state=accepted/">Accepted</a> 
  		| <a id="rejected" href="/orders?state=rejected/">Rejected</a> 
  		| <a id="cancelled" href="/orders?state=cancelled/">Cancelled</a> 
  		| <a id="fulfilled" href="/orders?state=fulfilled/">Fulfilled</a> Orders
  	</li>
  	<li><a id="cancellations" href="/cancellations/">Cancellations</a></li>
  	<li><a id="reports" href="/reports/">Reports</a></li>
  </ul>
